
<h1>管理者用ページ</h1>


<div class="MasterTop-ScheduleList">
    <p class = "band">日程一覧</p>
    <% @events.each do |event| %>
        <div class="MasterTop-ScheduleList__items">
            <%= event.date %>
            <%= "(#{event.capacity}組)" %>
            <% [:deadline_men,:deadline_women].each_with_index do |gender,i| %>
                <% if  event[gender] == false %>
                    <%= form_tag("/master/event_deadline/#{event.date}/#{gender.to_s}") do %>
                        <input type="submit" name="" value="<%= i == 0 ? "男性：募集停止中 #{@joins.where(date: event.date,gender:"男性").size}人" : "女性：募集停止中 #{@joins.where(date: event.date,gender:"女性").size}人" %>" class = "full">
                    <% end %>
                <% elsif event[gender] == true %>
                    <%= form_tag("/master/event_deadline/#{event.date}/#{gender.to_s}") do %>
                        <input type="submit" name="" value="<%= i == 0 ? "男性：募集中 #{@joins.where(date: event.date,gender:"男性").size}人" : "女性：募集中 #{@joins.where(date: event.date,gender:"女性").size}人" %>">
                    <% end %>
                <% end %>
            <% end %>

            <%= form_tag("/master/event_destroy/#{event.date}") do %>
                <input type="submit" name="" value="削除">
            <% end %>
        </div>
    <% end %>
  </div>




<p class = "band">日程追加</p>

    <% if @error_message %>
        <div class="form-error">
            <%= @error_message %>
        </div>
    <% end %>

    <%= form_tag("/master/event_add") do %>
        <p>日程</p>
            <input type="date" name="date" value="">
        <p>組数</p>
            <p><font size = "2"><font color = "red">半角英数字で入力してください。</p>
            <input type="text" name="capacity" value="<%= @capacity %>"><a><font color = "black">組</a>
        <p></p>
        <button type="submit" class =""  name ="" ><font size="2">イベント追加</button>
    <% end %>
